*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: $font-family-base;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-position: inside;
}
