// Colors
$color-primary: #000000;
$color-secondary: #6c757d;
$color-third:#EFEAE3;
$color-light: #ffffff;
$color-dark: #000000;
$color-hover: #ff4321;

// Typography
$font-family-base: "Work Sans", sans-serif;
$font-family-second: "Space Mono", monospace;
$font-size-base: 16px;
$line-height-base: 1.5;
$bold-font-weight: 700;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1340px;

// Extra variables
$spacing-unit: 1rem;
$border-radius: 1rem;
$transition-duration: 0.3s;

