.header {
    padding: 1rem auto;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $color-third;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
       
    }

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-primary;
        text-decoration: none;
    }

    &__menu {
        display: none;
        flex-direction: column;
        list-style-type: none;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 64px;
        left: 0px;
        padding: $spacing-unit * 2;
        margin: 0px;
        background-color: $color-third;
        border-radius: 0 0 $spacing-unit $spacing-unit;
        @include respond-to(lg) {
            display: flex;
            flex-direction: row;
            width: auto;
            position: inherit;
            padding: 0;
        }
        &.active {
            display: flex;
        }
       
        &-item {
            margin: 10px 0;
            @include respond-to(lg) {
                margin: 0 15px;
            }

            a {
                color: $color-dark;
                text-decoration: none;
                transition: color 0.3s ease;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    &__cta {
        display:none;
        @include respond-to(lg) {
            display: flex;
            flex-direction: row;
            width: auto;
            margin-top: 0;
            gap: 1rem;
        }
    }

    &__toggle {
        display: block;
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: $color-hover;
        @include respond-to(lg) {
            display: none;
        }
    }
}